# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Test artifacts
*.xcresult
